
body{
  color: black; 
}
.head{
    top: 0;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    width: 100%;
    display: flex;
   background-color: rgb(11, 53, 82);
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar-toggler{
    background-color: rgb(11, 53, 82)
}
.offcanvas-title{
    color: rgb(11, 53, 82);
}
.offcanvas-body{
    background-color: rgb(11, 53, 82);
    text-align: center;
}
.offcanvas-body ul li{
    background-color: rgb(11, 53, 82);
    text-align: center;
    padding: 10%;
}
.imgba img{
    width: 100px;
   
}
.imgba{
    width: 22%;

}
.gold{
    color: white;
    font-size: 50%;
}
.navbar{
    width: 73%;
}
.gold h6{
    font-size: 150%;
}
.navbar a{
    display: inline-block;
    font-size: 120%;
    padding: 1.5%;
    color:white;
    
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    transition: .3s;
     opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar {
    color: rgb(215, 184, 8);
    text-decoration: none;
    border-radius: 15%;
}


.intro{
    background-image:  linear-gradient(rgba(0, 0, 1, 0.18), rgba(0, 1, 5, 0.237)),url(images/event5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
    color: white
}
.text1{
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    font-weight: bold;
}
.text2{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    font-weight: bold;
}
.btn {
    display: inline-block;
    padding: 12px 28px;
    background: yellow;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(223, 226, 230);
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    
    font-weight: 600;
 
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn:hover{
    background-color: white;
    color: rgb(235, 228, 228);
}
.textmid{
    text-align: center;
    width: 100%;
    padding-top: 8%;
    padding-bottom: 5%;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.whom{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 5%;
}
.img2{
   width: 40%;
}
.img2 img{
    width: 450px;
    height: 400px;
}
.textwho{
    width: 43%;
    font-family: 'Times New Roman', Times, serif;

}
.textwho h4{
    font-style: italic;
    color: rgb(242, 144, 8);
}
.offer{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 2%; 
    width: 90%; 
}
.offer2{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 2%;  
    width: 90%;
}
.oftext{
    width: 28%;
    padding-top: 3%;
   
    
}
.ofimg1{
    width: 28%;
    
    padding-right: 3%;
    padding-top: 1%;
}
.ofimg{
    width: 28%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}
.ofimg2{
    width: 28%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}
.ofimg img{
    width: 250px;
    height: 350px;
}
.ofimg1 img{
    width: 250px;
    height: 350px;
}
.ofimg2 img{
    width: 250px;
    height: 350px;
}
.next{
    background-image:  linear-gradient(rgba(0, 0, 1, 0.18), rgba(0, 1, 5, 0.237)),url(images/doback.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5%;
    
    margin-top: 3%;
    display: flex;
}

.next2{
    background-image:  linear-gradient(rgba(64, 44, 14, 0.384), rgba(64, 44, 14, 0.384)),url(images/goldlogo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5%;
    
    display: flex;
}
.netext{
    width: 60%;
    padding-top: 10%;
    padding-bottom: 5%;
}
.netext2{
    width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}
.neimg{
    width: 35%;
}
.neimg img{
    width: 365px;
    height: 400px;
}
.next h2{
    color:  rgb(242, 144, 8);
    font-style: italic;
}
.next2 h2{
    color:  rgb(242, 144, 8);
    font-style: italic;
    font-size: 120%;
    padding-bottom: 3%;
    
}
.next2 h3{
    color:  rgb(242, 144, 8);
    font-style: italic;
    font-size: 120%;
    
    padding-top: 3%;
}
.next h1{
    color: white;
}
.how{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    color: black;
}
.card{
    margin-left: 2%;
    color: black;
    width: 25%;
}
.btn2 {
    display: inline-block;
    padding: 12px 28px;
    background: black;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(223, 226, 230);
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 50%;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn2:hover{
    background-color: white;
    color: black;
}

.slidewhole{
    display: flex;
     justify-content: space-between;
    align-items: center;
    max-height: 500px;
    padding-left: 5%;
    padding-right: 5%;
}

.homeserv{
    width: 45%;
    
    color: white;
    text-align: right;
    padding-top: 10%;
    padding-bottom: 10%;

}


.homeserv h2{
    color: yellow;
    font-size: 200%;
}
.homeserv h4{
    font-size: 150%;
    text-decoration: none;
    
}

.carousel{
    background-image:  linear-gradient(rgba(122, 94, 52, 0.384), rgba(122, 94, 52, 0.384)),url(images/goldlogo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
}

.d-block{
    height: 500px;
    padding: 5%;
    width: 80%;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

     100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

     100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

     100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

     100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

     100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}
.ser{
    padding: 10%;
    padding-bottom: 5%;
    text-align: center;
}
.ser h5{
    color:  rgb(242, 144, 8);
    font-style: italic;
}
.ser h2{
    color: black;
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
}
.serv{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 3%;
}
.serv .card{
    text-align: center;
    padding: 3%;
}
.card-body:hover{
    background-color:   rgb(242, 144, 8);
    color: white;
    animation: slideTop 1s ease forwards;
}
.serhead{
    background-image:  linear-gradient(rgba(122, 94, 52, 0.384), rgba(122, 94, 52, 0.384)),url(images/goldlogo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
}
.serhead h1{
    color: white;
    text-align: center;
    font-size: 300%;
    padding: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
.ceo{
   
    display: flex;
    justify-content: space-between;
    color: #1f242d;
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    align-items: center;
    padding-right: 2%;  
    width: 100%;
   
}
.abimg{
    width: 50%;
}
.abtext{
    width: 50%;
    font-size: 130%;
    padding-right: 4%;
}
.abtext h2{
    color: #9a6e0fef;
}
.abimg img{
    height: 400px;
    width: 80%;
}
.about{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    color: black;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #9a6e0f2e;
    padding-bottom: 3%;
}
.about h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(100, 80, 19);
    padding-top: 5%;
}
.about h3{
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
}
.about1{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.social-media1 a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(223, 226, 230);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(223, 226, 230);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media1 a:hover {
    background: rgb(223, 226, 230);
    color: #1f242d;
    box-shadow: 0 0 20px rgb(223, 226, 230);
    text-decoration: none;
}
.how2{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;
}
.how2 img{
    width: 100%;
    height: 80%;
}
.card{
    margin-left: 2%;
    color: black;
    width: 50%;
}

@media screen and (max-width:768px){
    .head{
        background-color:  rgb(11, 53, 82);
    }
    .textmid{
        padding: 10%;
    }
    .textmid h2{
        font-size: 130%;
    }
    .textmid h5{
        font-size: 110%;
    }
    .how{
        background-image:  linear-gradient(rgba(14, 8, 1, 0.384), rgba(14, 8, 1, 0.384)),url(images/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        display: block;
        text-align: center;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
        color: white;
    }
    .card-body{
        padding-top: 10%;
        padding-bottom: 10%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .btn2 {
        display: inline-block;
        padding: 12px 28px;
        background: transparent;
        box-shadow: 0 0 10px rgb(223, 226, 230);
        font-size: 16px;
        color: white;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: 600;
        border-radius: 10%;
        animation: slideTop 1s ease forwards;
        animation-delay: 2s;
    }
    .whom{
        display: block;
    }
    .whom .img2 img{
        width: 350px;
        height: 300px;
    }
    .whom .textwho{
        padding-top: 5%;
        width: 100%;
        text-align: center;
    }
    .offer{
        display: block;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }
   
    .offer .oftext{
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
        width: 115%;
        text-align: center;
    }
    .offer .ofimg img{
        width: 350px;
        height: 300px;
        padding-bottom: 5%;
    }
    .offer .ofimg2 img{
        width: 350px;
        height: 300px;
        padding-bottom: 5%;
    }
    .offer2{
        display: block;
        text-align: center;
        
    }
    .offer2 .ofimg img{
        width: 350px;
        height: 300px;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .offer2 .ofimg1 img{
        width: 350px;
        height: 300px;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .offer2 .ofimg2 img{
        width: 350px;
        height: 300px;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .next2{
        display: block;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }
    .netext2{
        margin-top: 10%;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        color: white;
    }
    .social-media1 h5{
        font-size: 100%;
    }
    .neimg img{
        height: 300px;
    }
    .ceo{
        display: block;
        text-align: center;
        justify-content: space-between;
        align-items: center; 
    }
    .abimg{
        width: 100%;
    }
    .abtext{
        width: 100%;
    }
    .about{
        display: block;
        text-align: center;
        justify-content: space-between;
        align-items: center; 
    }
    .about1{
        width: 100%;
    }
    .about1 ul li{
        width: 100%;
        text-decoration: none;
        text-align: left;
    }
    .ser h2{
        font-size: 130%;
    }
    .serv{
        display: block;
        text-align: center;
        justify-content: space-between;
        align-items: center;  
    }
    .card{
        width: 100%;
    }
    .carousel .d-block{
        height: 300px;
        padding: 10%;
        width: 80%;
    }
    .how2{
        display: block;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
        color: black;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .how2 img{
        width: 100%;
        height: 80%;
    }
    .card{
        margin-left: 2%;
        color: black;
        
    }
}